node_modules/
build/
.github/
.env.example
.env
package.json
package-lock.json
readme.md
tsconfig.json
lerna.json
*/**/nodemon.json
jest.config.js
*.test.*
*.orig
Dockerfile
*.yml
*.yaml
*/**/Dockerfile
*/**/run.sh
*.sh
*/**/*.postman_collection.json
*/**/postman_global_variables.json
*/**/Dockerfile.template
disco/
linkerd.yaml
resources/